[submodule "pico-sdk"]
	path = pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "pico-examples"]
	path = pico-examples
	url = git@github.com:raspberrypi/pico-examples.git
[submodule "app_freertos/freertos/FreeRTOS-Kernel"]
	path = app_freertos/freertos/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "ble_pad/freertos/FreeRTOS-Kernel"]
	path = ble_pad/freertos/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
